*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: #ffffff;
}
.hidden{
    overflow: hidden;
}
.centrado{
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-roller{
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div{
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after{
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #cef;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1){
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1)::after{
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2){
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2)::after{
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3){
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3)::after{
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4){
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4)::after{
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5){
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5)::after{
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6){
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6)::after{
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7){
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7)::after{
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8){
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8)::after{
    top: 45px;
    left: 10px;
}
@keyframes lds-roller{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header{
    width: 100%;
    height: 600px;
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
header .menu{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
header .menu a{
    display: inline-block;
    padding: 15px 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
header .menu a:hover{
    text-decoration: underline;
}
header .contenedor-textos-header{
    margin: 130px 0;
    text-align: center;
    color: white;
}
header .contenedor-textos-header .titulo-header{
    font-size: 80px;
    margin-bottom: 5px;
}
header .contenedor-textos-header .linea{
    width: 800px;
    margin: auto;
    height: 3px;
    background: #15a4fa;
    margin-bottom: 20px;
}
header .contenedor-textos-header .subtitulo-header{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
header .contenedor-textos-header .contacta{
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid #15a4fa;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}
header .contenedor-textos-header .contacta:hover{
    background: #15a4fa;
    color: white;
    -o-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
main .acerca-de{
    background: #f0f3f5;
    padding: 45px 0;
    text-align: center;
}
main .acerca-de .contenedor-texto-acerca .titulo-acerca{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}
main .acerca-de .contenedor-texto-acerca .parrafo-acerca{
    color: #999999;
    font-weight: 600;
    margin-bottom: 20px;
}
main .iconos{
    padding: 30px 0;
}
.contenedor-iconos{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.contenedor-iconos .icono-individual{
    width: 33%;
    margin: 20px 0;
}
.contenedor-iconos .icono-individual h3{
    margin: 10px 0;
}
main .portafolio{
    background: #f0f3f5;
    padding: 60px 0;
}
main .contenedor-textos-portafolio{
    text-align: center;
}
main .contenedor-textos-portafolio .titulo-portafolio{
    font-weight: 900;
    font-size: 28px;
    margin-bottom: 20px;
}
main .contenedor-textos-portafolio .parrafo-portafolio{
    font-weight: normal;
    color: #999999;
    margin-bottom: 60px;
}
main .portafolio .contenedor-portafolio{
    display: flex;
    flex-wrap: wrap;
}
main .portafolio .contenedor-portafolio img{
    width: 32%;
    margin: auto;
    /* justify-content: space-between; */
    margin-bottom: 10px;
    border-radius: 5px;
}
main .portafolio .contenedor-portafolio img:hover{
    opacity: .6;
    -o-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
footer{
    width: 100%;
    height: 600px;
    padding: 60px 0;
    background-image: url(../img/footer.png);
}
footer .footer-textos{
    text-align: center;
    color: white;
}
footer .footer-textos h2{
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 15px;
}
footer .footer-textos .parrafo-footer{
    font-weight: 300;
    color: #999999;
    margin-bottom: 45px;
}
footer .formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
footer .formulario .nombre-contacto,
footer .formulario .correo-contacto,
footer .formulario .mensaje{
    display: inline-block;
    padding: 15px 20px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 14px;
}
footer .formulario .mensaje{
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}
footer .formulario .derecha{
    display: flex;
    justify-content: flex-end;
}
footer .formulario .boton-envio{
    display: inline-block;
    padding: 10px 20px;
    background: none;
    border: 1px solid #15a4fa;
    color: white;
    border-radius: 3px;
}
footer .formulario .boton-envio:hover{
    background: #15a4fa;
    color: white;
    -o-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}
@media screen and (max-width:826px){
    header .contenedor-textos-header .titulo-header{
        font-size: 70px;
    }
}
@media screen and (max-width:722px){
    header .contenedor-textos-header .titulo-header{
        font-size: 60px;
    }
}
@media screen and (max-width:620px){
    header .contenedor-textos-header .titulo-header{
        font-size: 50px;
    }
    header .contenedor-textos-header .subtitulo-header{
        font-size: 18px;
    }
    header .menu{
        justify-content: center;
        flex-wrap: wrap;
    }
    header .menu a{
        font-size: 16px;
    }
    header .contenedor-textos-header{
        margin: 100px 0;
    }
}
@media screen and (max-width:540px){
    header .contenedor-textos-header .titulo-header{
        font-size: 45px;
    }
    header .contenedor-textos-header .subtitulo-header{
        font-size: 14px;
    }
    .contenedor-iconos{
        flex-direction: column;
    }
    .contenedor-iconos .icono-individual{
        width: 95%;
        margin: auto;
    }
    main .portafolio .contenedor-portafolio{
        justify-content: space-between;
    }
    main .portafolio .contenedor-portafolio img{
        width: 49%;
    }
}
@media screen and (max-width:464px){
    header .contenedor-textos-header .titulo-header{
        font-size: 38px;
    }
}
